.focused{
        float: left;
        color: orange;
        text-align: center;
        padding: 20px;
        font-size: 16px;
        line-height: 25px;
        border-radius: 4px;
        transform: scale(1.5);
    }
.btn1:hover{
        transform: scale(1.5);
        color: orange;
    }

.nonfocused{
        float: left;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 16px;
        line-height: 25px;
        border-radius: 4px;
    }
.nonfocused:hover{
        transform: scale(1.5);
        color: orange;
    }
	
.login{
        color: orange;
        text-align: center;
        padding: 20px;
        font-size: 16px;
        line-height: 25px;
        border-radius: 4px;
        transform: scale(1.5);
		font-style: italic; 
		text-decoration: underline;
}
	
